body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  background-color: gray; }

h1, h2, h3, h4 {
  font-family: Verdana, Geneva, sans-serif; }

p {
  font-family: "Open Sans", sans-serif; }

.myContainerWidth {
  max-width: 1200px;
  margin: auto; }

.row > * {
  /* fix for margins of child elements breaking outside at mobile sizes */
  overflow: auto; }

.bgYellow {
  background-color: yellow; }

.bgPink {
  background-color: pink; }

.bgOrange {
  background-color: orange; }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
