body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #333;
  background-color: gray; }

h1, h2, h3, h4 {
  font-family: Verdana, Geneva, sans-serif; }

p {
  font-family: "Open Sans", sans-serif; }

.myContainerWidth {
  max-width: 1200px;
  margin: auto; }

.row > * {
  /* fix for margins of child elements breaking outside at mobile sizes */
  overflow: auto; }

.bgYellow {
  background-color: yellow; }

.bgPink {
  background-color: pink; }

.bgOrange {
  background-color: orange; }

.ribbon {
  display: inline-block;
  width: 300px;
  background-color: lightblue;
  font-size: 30px; }

.ribbon__guts {
  display: flex;
  justify-content: flex-end; }

.ribbon__guts > * {
  border: 1px red solid; }

.ribbon__guts__number {
  display: flex;
  align-items: center;
  margin-right: 20px; }

.triangle-left {
  width: 10%;
  height: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  overflow: hidden; }

.triangle-left:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  margin-top: -500px;
  border-top: 500px solid transparent;
  border-bottom: 500px solid transparent;
  border-right: 500px solid white; }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
