body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: #333;
  background-color: white; }

h1, h2, h3, h4 {
  font-family: Verdana, Geneva, sans-serif; }

p {
  font-family: "Open Sans", sans-serif; }

.myContainerWidth {
  max-width: 1200px;
  margin: auto; }

.main-logo {
  width: 125px;
  margin: 10px 0; }

.main-header__heading {
  font-size: 1.6em; }

.main-header__content {
  margin-top: 30px; }

.main-header__heading {
  color: #0099C3;
  font-weight: bold;
  margin-top: 0;
  line-height: 1.2; }

.main-header__summary {
  font-size: .92em;
  color: #007191; }

a:link {
  text-decoration: none; }

a:hover, a:active {
  text-decoration: underline; }

.raquoSpan {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
  /* changed from 0 to 1 to fix iPad air issue */
  display: inline-block;
  /* to prevent text-decoration inheritance */
  text-decoration: none;
  padding-left: 3px; }

/*
.rib{
	display:flex;
	align-items:center;
	flex-wrap:wrap;
}
.rib_text{
	flex:1 1 100%;
}
.ribbon{
	display:inline-block;
	width: 150px;
	background-color: #7fe4fd;
	font-size:30px;
}
.ribbon__guts{
	display:flex;
	justify-content:flex-end;
	color: white;
}
.ribbon__guts__number{
	display:flex;
	align-items:center;
	margin-right: 20px;
	font-size: 1.6em;
}
.triangle-left {
    width: 25%;
    height: 0;
    padding-top: 25%;
    padding-bottom: 25%;
    overflow: hidden;
}
.triangle-left:after {
    content: "";
    display: block;
    width: 0; 
    height: 0;
    margin-top:-500px;
     
    border-top: 500px solid transparent;
    border-bottom: 500px solid transparent;
    border-right: 300px solid white;
}
*/
.myRibbonContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.myRibbonRect {
  background-color: #7fe4fd;
  display: flex;
  align-items: center;
  height: 70px;
  /* set to twice the border size of the triangle */
  padding-left: 68px;
  padding-right: 20px;
  font-size: 2.5em;
  color: white; }

.myRibbonTriangleBox {
  display: flex;
  align-items: center; }

.myRibbonTriangle {
  border: 35px #7fe4fd solid;
  /* half the height of the triangle */
  border-left-color: transparent;
  border-right-color: transparent;
  border-right-width: 20px;
  /* width of the triangle */
  height: 0;
  width: 0;
  border-left: none; }

.myRibbonAfterTriangleText {
  display: flex;
  align-items: center;
  color: #5ab1b4;
  font-size: 24px; }

.factors__factor {
  margin-top: 60px; }

.factors__body {
  margin-top: 30px;
  color: #707070; }

.differences__spacing {
  margin-top: 60px; }

.differences__h1 {
  color: #0099C3;
  font-weight: bold;
  margin-bottom: 50px; }

.differences__heading {
  color: #007191;
  font-weight: bold;
  font-size: 1.3em; }

.differences__difference p {
  color: #0099C3;
  padding: 30px 0; }

.differences__difference li {
  color: #0099C3; }

.financial-grades__company {
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  width: 23%;
  text-align: center; }

.financial-grades__company-name {
  display: block;
  color: #084d8a;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
  font-size: .6em; }

.financial-grades__grade {
  display: block;
  color: white;
  font-family: 'Arvo', serif;
  font-size: 1.5em;
  line-height: 1; }

.financial-grades__rating {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  line-height: 1;
  font-size: .62em; }

.financial-grades__company--excellent {
  background-color: #bbcc3c; }

.financial-grades__company--strong1 {
  background-color: #61c6c0; }

.financial-grades__company--good {
  background-color: #1db0db; }

.financial-grades__company--strong2 {
  background-color: #84c14b; }

.differences__footer {
  margin-top: 120px;
  color: #084d8a;
  font-size: .7em; }

.footnotes {
  padding-left: 0; }

.main-footer {
  margin-top: 120px;
  color: #5ab1b4; }

.row > * {
  /* fix for margins of child elements breaking outside at mobile sizes */ }

/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .main-logo {
    margin: 30px 0; }
  .main-header__headingCol {
    text-align: right; }
  .main-header__heading {
    font-size: 1.7em;
    line-height: 1.1; }
  .main-header__summary {
    font-size: .75em;
    margin-top: 7px; }
  .myRibbonContainer {
    flex-wrap: initial; }
  .myRibbonAfterTriangleText {
    margin-left: 15px; }
  .factors__body {
    margin-left: 68px; }
  .factors__imgCol {
    padding-left: 68px; }
  .differences__widthbox {
    width: 100%; }
  .differences__heading {
    font-size: 1.2em; }
  .financial-grades__company-name {
    font-size: 0.5em; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .main-header__heading {
    font-size: 2em; }
  .main-header__summary {
    font-size: .8em;
    margin-top: initial; }
  .differences__widthbox {
    width: 88%; }
  .financial-grades__company-name {
    font-size: 0.6em; } }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .differences__widthbox {
    width: 80%; } }
