body{
	font-family: $primaryFont;
	font-size: 18px;
	line-height: 1.4;
	color: $main-gray;
	background-color:white; 
}
h1, h2, h3, h4{
	font-family: $secondaryFont;
}
p{
	font-family: $primaryFont;
}
hr{
	margin-top: 40px;
    margin-bottom: 40px;
}
.myContainerWidth{
	max-width: $myContainerWidth;
	margin: auto;
}


.main-logo{
	width:125px;
	margin:10px 0;
}
.main-header__heading{
	font-size: 1.6em;
}
.main-header__content{
	margin-top:30px;
}
.main-header__heading{
	color:#0099C3;
	margin-top:0;
	line-height:1.2;
}
.main-header__summary{
	font-size: 16px;
	color: #333333;
}

.main-header__cta{
	text-align:center;
	margin-top:20px;
}
.main-header__cta-link {
	color: #0099C3;
	text-decoration: none;
	// background: #0099C3;
	// padding: 7px 20px;
	// border-radius: 7px;

	&:hover, &:focus{
		//background-color:lighten(#0099C3, 10%);
		//color:white;
		text-decoration: underline;
	}
}
.main-header__cta-link:link{text-decoration:none;}
.main-header__cta-link:hover, a:active{text-decoration:underline;}
.raquoSpan{
   font-family:Arial, Helvetica, sans-serif;
   line-height: 1; /* changed from 0 to 1 to fix iPad air issue */
   display: inline-block; /* to prevent text-decoration inheritance */
   text-decoration:none;
   padding-left:5px;
}





.myRibbonContainer{
	display: flex;
	align-items: center;

	    margin-left: -70px;
	// flex-wrap:wrap;
}
// .myRibbonRect{
// 	background-color: #00A7D4;
// 	display: flex;
// 	align-items: center;
// 	height: 60px;
// 	padding-left: 22px;
// 	padding-right: 20px;
// 	font-size: 1.5em;
// 	color: white;
// 	border-radius: 5px;
// 	padding:20px;
// 	padding-top:10px;
// 	padding-bottom:10px;
// }
.myRibbonTriangleBox{
	display: flex;
	align-items: center;
}
.myRibbonAfterTriangleText{
	display: flex;
	align-items: center;
	color:#333333;
	font-size: 24px;
	font-family:$primaryFont;
	// flex: 1 1 100%; 
	margin-left: 10px;
}



 .myRibbonRect{
       background-color: #72c9f1;
        display: flex;
        align-items: center;
       height: 70px; /* set to twice the border size of the triangle */
       padding-left: 68px;
        padding-right: 20px;
       font-size: 2.5em;
        color: white;
 }
 .myRibbonTriangle{
       border: 35px #72c9f1 solid; /* half the height of the triangle */
       border-left-color: transparent;
       border-right-color: transparent;
       border-right-width: 20px; /* width of the triangle */
       height: 0;
       width:0;
       border-left: none;
	}



.factors__factor{
	margin-top:10px;
}
.factors__body{
	margin-top: 10px;
	color:#707070;
}
.factors__body p{
	margin-bottom:20px; 
}
.factors__body p.lastP{
	margin-bottom:0;
}
.chartTitle{
	margin-top: 20px;
	color: #70706D;
	text-align: center;
}



.differences__spacing{
	margin-top:10px;
}
.differences__h1{
	color:#0099C3;
	// margin-bottom:50px;
}
.differences__heading{
	color:#1e8568;
	font-size: 24px;
	font-family: $primaryFont;
	line-height:1.4;
}
.differences__difference p{
	color:#333333;
	padding: 10px 0;
}
.differences__difference li{
	color:#333333;
}

.financial-grades__company{
	display:inline-block;
	border-radius: 3px;
	padding: 5px;
	width:23%;
	text-align:center;
}
.financial-grades__company-name{
	display:block;
	color:#084d8a;
	text-transform:uppercase;
	font-weight: bold;
	line-height:1;
	font-size:.6em;
}
.financial-grades__grade{
	display:block;
	color:white;
	font-family:'Arvo', serif;
	font-size: 1.5em;
	line-height:1;
}
.financial-grades__rating{
	display:block;
	color:rgba(255,255,255, .7);
	text-transform:uppercase;
	line-height:1;
	font-size:.58em;
}
.financial-grades__company--excellent{
	background-color:#bbcc3c;
}
.financial-grades__company--strong1{
	background-color:#61c6c0;
}
.financial-grades__company--good{
	background-color:#1db0db;
}
.financial-grades__company--strong2{
	background-color:#84c14b;
}


.differences__footer{
	margin-top:20px;
	color:#333333;
	font-size:.7em;
}
.footnotes{
	padding-left:0;
}
.footnotes__footnote{
	margin-bottom:10px;
}
.footnotes__footnote--last{
	margin-bottom:0;
}
.main-footer{
	// margin-top:30px;
	color: #333333;
}
small, .small {
	font-size: 75%;
	line-height: 2px;
}


.row > *{ /* fix for margins of child elements breaking outside at mobile sizes */
	//overflow:auto;
}














/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.main-logo{
		margin:30px 0;
	}
	
	.main-header__heading {
	    font-size: 1.7em;
	    line-height:1.1;
	}
	
	.main-header__summary {
	    //font-size: .75em;
	    margin-top: 7px;
	}
	.main-header__cta{
		text-align:right;
		margin-top:5px;
	}

	.myRibbonContainer{
		flex-wrap:initial;
	}
	.myRibbonRect{
		font-size: 2.5em;
	}
	.myRibbonAfterTriangleText{
		margin-left: 15px;
	}


	.factors__imgCol{
		padding-left:68px;
	}
	.chartTitle{
		margin-top: 0;
		font-size: .8em;
	}

	

	

	.differences__widthbox {
    	width: 100%;
	}
	.differences__heading{
		font-size:1.2em;
		font-weight: bold;
	}
	.financial-grades__company-name {
    	font-size: 0.5em;
	}
	.financial-grades__rating {
	    font-size: .46em;
	}

	.differences__footer{
		margin-top:40px;
		color:#333333;
		font-size:.7em;
	}
	.main-footer{
		margin-top:120px;
		color: #333333;
	}
	.footnotes__footnote{
		margin-bottom:5px;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.main-header__heading{
		font-size: 2em;
	}
	.main-header__summary{
		margin-top: initial;
	}
	.chartTitle2{
		margin-left: 113px;
	}
	.differences__widthbox {
	    width: 88%;
	}
	.financial-grades__company-name {
    	font-size: 0.6em;
	}
	.financial-grades__rating {
	    font-size: .58em;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	.differences__widthbox{
		width:80%;
	}
}

